*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}
body{
    background-color:#f7e8ff;
    color:black;
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 60px;
    background-color:white;
   
}

.logo{
    font-size:22px;
    font-weight:600;
    color:#6a5acd;
}
nav a{
    margin:0 15px;
    text-decoration: none;
    color: #555;
     font-weight:600;
}
nav a:hover {
    color: #8e44ad;
    background-color: rgba(142, 68, 173, 0.12);
    padding: 6px 12px;
    border-radius: 12px;
}
.login-btn,
.register-btn{
   
    background-color:#2ad850;
    padding: 8px 20px;
    border-radius: 20px;
    color:white;
}
.login-btn:hover,
.register-btn:hover{
    color: #f8f7f8;
    background-color: green;
    padding: 6px 12px;
    border-radius: 12px;
}

.hero{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:60px;
    gap:60px;
    min-height:90vh;             
    background-image: url("skincare.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-image {
    width: 100%;
}
.hero-image img {
    width: 100%;
    max-width: 420px;
}
.hero2{
 width:55%;
 padding:30px;
 border-radius:20px;  
}

.hero2 h1{
    font-size:32px;
    color:#0d0d0d;
     margin-bottom: 15px;
}

.hero2 p{
    margin:10px 25px;
    font-size:18px;
    color: rgb(12, 12, 12);

}

.hero2 button{
    padding:14px 35px;
    background-color:#36c656;
    border:none;
    border-radius:30px;
    font-size:16px;
    color:white;
    cursor:pointer;
}

.login-card{
    width:320px;
    background-color:rgb(251, 240, 240);
    padding:30px;
    border-radius: 20px;
  box-shadow:0 15px 35px rgba(0,0,0,0.15)   
}
.login-card p{
    text-align:center;
    font-size:14px;
    margin-bottom:15px;
    color:#777;
}

.login-card h3{
    text-align:center;
    margin-bottom:20px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
    
}
.login-card button{
    width:100%;
    padding:12px;
    background:#36c656;
    border:none;
    border-radius:25px;
    color:white;
    margin-top:10px;
}

.login-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.steps{
    text-align: center;
    padding:60px 80px;
}
.steps h2{
    font-size:32px;
    margin-bottom:40px;
}
.step{
  display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    width:280px;               
    height:220px;

    background: rgba(255,255,255,0.45);
    backdrop-filter: blur(10px);

    border-radius:22px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);            
}
.step-img-container{
   height:70%;
    width:100%
}

.step-img {
    width: 100%;          
    height: 100%;
     
   object-fit:cover;
}
.step-text{
    height: 30%;
    padding:12px ;
    text-align:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
}
.step-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    box-sizing: 50px;
}



.step-text h3{
    margin-bottom:10px;
     font-size:16px;
    color:#6a5acd;
}

.step-text p {
    font-size: 14px;
    color: #555;
}
.step:hover{
    transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.2);
}

.start-btn{
    margin-top:40px;
    padding:14px 40px;
    background:#2db03f;
    border:none;
    border-radius:30px;
    color:white;
    font-size:16px;
    cursor: pointer;
}
.step-link {
    text-decoration: none;
    color: inherit;
}
.hero2 button,
.login-card button,
.start-btn{
    transition: background 0.3s ease, transform 0.3s ease;
}

.hero2 button:hover,
.login-card button:hover,
.start-btn:hover{
    background:#28a93b;
    transform: scale(1.05);
}





.about-hero{
            height:260px;
            display:flex;
            align-items:center;
            justify-content:center;
            background-image: url(" https://www.shankara.in/cdn/shop/articles/13_Skincare_Tips_for_Dry_Skin___From_Cleansing_to_Moisturizing.jpg?v=1758093156&width=2048");
            background-size:cover;
            background-position:center;
        }

         .about-hero h1{
            font-size:42px;
            padding:16px 45px;
            border-radius:35px;
            color:#0a010f;
        }

        
        .about-content{
            max-width:900px;
            margin:40px auto;
            text-align:center;
            padding:0 20px;
        }

        .about-content p{
            font-size:26px;
            color:#23538f;
            line-height:1.2;
            margin-bottom:40px;
        }


/* about */
.about-card {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.about-card img {
    width: 100%;

}

.about-extra{
    display:flex;
    justify-content: center;
    gap: 30px;
    padding:60px 40px;
    flex-wrap: wrap;
}

.extra-box{
      background: rgba(255,255,255,0.85);
      padding: 20px;
      border-radius: 20px;
      max-width: 300px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
      text-align: center;
      margin-top: 0px;
}
.extra-box:hover{
     transform: translateY(-12px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.2);
}

.extra-box h3{
    margin-bottom: 12px;
    color:#6a3ea1;
}
.extra-box p{
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}


/* features */
.features-hero{
    height:240px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:url("https://media.istockphoto.com/id/1546442230/photo/front-view-skin-care-products-on-wooden-decorative-piece.jpg?s=612x612&w=0&k=20&c=4qEsfqeNNAcrlzZOwMjs9mZzPBUf1ey22v0gSjt7NcY="   );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.features-hero h1{
    font-size:42px;
    color: #070607;
}
.features-section{
    max-width:1100px;
    margin:70px auto;
    display:flex;
    gap:50px;
    padding:0 20px;
}


.features-image{
    flex:1;
}

.features-image img{
    width:100%;
    border-radius:25px;
    box-shadow:0 20px 45px rgba(0,0,0,0.15);
}

.features-content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.features-content h2{
    font-size:32px;
    margin-bottom:20px;
}

.features-content ul{
    list-style:none;
}

.features-content li{
    font-size:18px;
    margin-bottom:16px;
    padding-left:28px;
    position:relative;
}

.features-content button{
    background:#8fb339;
    color:white;
    border:none;
    padding:14px 30px;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
}



/* contact */
.contact-hero{
    height:240px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:url("https://invest.up.gov.in/wp-content/uploads/2020/10/Contactus.jpg"  );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-hero h1{
    font-size:42px;
    color: #070607;
}


.contact-section{
     max-width:1100px;
     margin:70px auto;
     display:flex;
     gap:50px;
     padding:0 20px;
}

.contact-content{
            flex:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
        }

        .contact-content h2{
            font-size:32px;
            margin-bottom:20px;
        }

        .contact-content p{
            font-size:18px;
            margin-bottom:16px;
            display:flex;
            align-items:center;
            gap:10px;
        }

.contact-image{
            flex:1;
        }

        .contact-image img{
            width:100%;
            border-radius:25px;
            box-shadow:0 20px 45px rgba(0,0,0,0.15);
        }

nav a.active {
    color: #fff;       
    background-color: #8b5cf6; 
    border-radius: 5px;  
    padding: 5px 10px;
}


footer{
   margin-top:60px;
    padding:20px;
    text-align: center;
    background-color:white;
}

